
@using TheTravel.Models.Sınıflar
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hoşgeldiniz, Admin!</h2>
<p>Buradan tüm işlemleri gerçekleştirebilirsiniz.</p>


